* {
  margin: 0;
  padding: 0;
}

#app {
  width: 80%;
  margin: 20px auto;
}

.nav,
.sub-nav {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.title-item:hover,
.menu-item:hover,
.sub-nav-item:hover,
.nav-item:hover,
.selected {
  color: red !important;
  text-decoration: underline !important;
}

.sub-nav {
  padding-top: 10px;
  border-top: 2px solid #999;
}

.sub-nav-item {
  color: #666;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.bot {
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  border-top: 2px solid #999;
}

.title {
  display: flex;
}

.title-item {
  width: 33%;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #999;
}

.menu-item {
  margin: 0 20px 10px 0;
  cursor: pointer;
  font-size: 12px;
  color: #999;
}

.content img {
  width: 100%;
}
